/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define NUMERICAL 0
#define STANDARD 1
#define GAMING 2

/ {
        keymap {
                compatible = "zmk,keymap";

                NUMERICAL {
// -----------------------------------------------------------------------------------------
// | ESC |   |    |    |    |    |   |    |     |    |    |    |  |
// | |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  ENT   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT  |
//                    | CTRL | LWR | SPC |   | SPC | RSE  | ALT |
                        bindings = <
   &kp ESC   &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5   &kp NUMBER_6 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &kp BSPC
   &kp TAB   &kp LBKT     &kp RBKT     &kp FSLH     &kp BSLH     &kp SEMI       &kp PLUS     &kp MINUS    &kp ASTERISK &kp SLASH    &kp EQUAL    &kp SQT
   &kp LALT  &none        &none        &none        &none        &none          &none        &none        &kp COMMA    &kp PERIOD   &kp QMARK    &kp RWIN
                                       &kp LCTRL    &to 1        &kp RET        &kp SPACE    &to 2        &kp DEL
                        >;
                    };
                
                STANDARD {
// -----------------------------------------------------------------------------------------
// | ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  ENT   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT  |
//                    | CTRL | LWR | SPC |   | SPC | RSE  | ALT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp TAB   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp RET
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RWIN
                  &kp LCTRL &to 0 &kp SPACE   &kp SPACE &to 2 &kp RALT
                        >;
                };
                GAMING {
// -----------------------------------------------------------------------------------------
// |  ESC   |  Q   |  W   |  E  |   R  |   T  |      |      |         |      |       |      | BKSP |
// |  TAB   |  A   |  S   |  D  |   F  |   G  |      |      |         |      |  UP   |      |      |
// | SHFT   |  Z   |  X   |  C  |   V  |   B  |      |      |         | LFT  |  DWN  | RGT  |      |
//                    | CTRL |  ALT  | SPC |            | ENT  |  RSE    | ALT |
                        bindings = <
   &kp ESC   &kp Q  &kp W  &kp E  &kp R  &kp T        &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9  &none     &none    &kp BSPC
   &kp TAB   &kp A  &kp S  &kp D  &kp F  &kp G        &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6  &none     &kp UP   &none
   &kp LSHFT &kp Z  &kp X  &kp C  &kp V  &kp B        &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3  &kp LEFT  &kp DOWN &kp RIGHT
                    &kp LCTRL &kp LALT   &kp RET      &kp SPACE  &to 1   &kp RALT
                        >;
                };

        };
};
